body{
  background-color: #545b69;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

/* -------- Header -------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: auto;

  background-color: #9fadca;
  border-radius: 1rem;
  margin: 1%;
}

.welcome {
  font-size: 2rem;
  margin: 1%;
}

.welcome-description {
  font-size: 1rem;
  margin: 1%;
}

/* -------- API Options -------- */

.api-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  height: auto;

  background-color: #9fadca;
  border-radius: 1rem;
  margin: 1%;
}

.api-option-item {
  margin: 1%;
}

.api-option-item > h4 {
  margin-bottom: none;
}

.api-option-item > button {
  margin-top: none;
  margin-bottom: 10%;
}

/* -------- API Response -------- */

.api-result {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 75%;
  height: auto;

  background-color: #9fadca;
  border-radius: 1rem;
  margin: 1%;
}

.json-response {
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;  
  white-space: -o-pre-wrap; 
  word-wrap: break-word;  
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 1% 3%;
  
}